<br>
<div class="text-center card container col-md-4">
    <div class="mt-5 mb-5">
        <img class="mb-4" src="https://conecta.continental.edu.pe/img/LOGO_HORIZONTAL_RGB_POSITIVO_PNG-01.png" alt="" width="180"
            height="57">
        <h1 class="h3 mb-3 fw-normal">Ingresa tus credenciales</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Correo</label>
        </div>
        <div class="form-floating mt-1">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
        <div class="or-container">
            <hr class="hr hr-blurry" />
            <br>
            <div class="or-label">o</div>
            <br>
            <hr class="hr hr-blurry" />
        </div>
            <button class="w-100 btn btn-lg btn-google btn-block btn-outline" id="btn-google" (click)="login()">
                <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Ingresar con Google
            </button>
    </div>
</div>