.form-control{
    margin-top: 20px;
    margin-bottom: 20px;
}
.or-container{
    margin-top: 15px;
    margin-top: 15px;
}
#btn-google:hover{
    border: 2px solid red;
}
.hr{
    margin: 0 auto;
    width: 70%;
}